<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="github-link">
        <a href="https://github.com/Gabriel-Kahen/SightAnalysis" target="_blank">
            <img src="{{ url_for('static', filename='github_logo.png') }}" alt="GitHub Logo">
        </a>
    </div>
    <div class="Height Slider">
        <label for="image_width">Image Width: </label>
        <input type="range" id="image_width" name="image_width" min="10" max="500" value="200" oninput="this.nextElementSibling.value = this.value; updateImageWidth(this.value);">
        <output>200</output> pixels
    </div>
    <h1>Upload an Image</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>

    {% if uploaded_file_path or output_file_path %}
        <div class="image-container">
            {% if uploaded_file_path %}
                <div>
                    <h2>Uploaded Image:</h2>
                    <img src="{{ url_for('static', filename=uploaded_file_path) }}" alt="Uploaded Image">
                </div>
            {% endif %}
            {% if output_file_path %}
                <div>
                    <h2>Processed Image:</h2>
                    <img src="{{ url_for('static', filename=output_file_path) }}" alt="Processed Image">
                </div>
            {% endif %}
        </div>
    {% endif %}
</body>
</html>